/**

  Common styles

*/

*, *::before, *::after {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.button {
  font-size: 18px;
  font-weight: 700;
  border-radius: 55px;
  line-height: 1;
  border: none;
  min-width: 200px;
  background: none;
  cursor: pointer;
  padding: 17px 40px 19px;
}

.button--primary {
  background: #458FF6;
  color: #fff;
  border: 1px solid transparent;
}

.button--secondary {
  background: #fff;
  color: #458FF6;
  border: 1px solid #458FF6;
}

.title{
  font-size: 36px;
  line-height: 1.55;
  font-weight: 700;
  color: #000;
  position: relative;
  padding-bottom: 26px;
}
.title::before{
  content: '';
  background: #000;
  width: 56px;
  height: 2px;
  border-radius: 5px;

  position: absolute;
  left: 0;
  bottom: 0;
}

.title--border-middle::before{
  left: 50%;
  transform: translateX(-50%);

}

.services{
  margin-top: 192px;
}

.services__top{
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
}

.services__description{
  line-height: 1.66;
  font-weight: 300;
  color: #7d7987;
  font-size: 18px;
  margin-top: 33px;
}

.card{
  background: #fff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 54px 37px;
  max-width: 350px;
}

.card__title{
  color: #000;
  font-size: 24px;
  line-height: 2.33;
  font-weight: 700;
  margin-top: 22px;
}

.card__description{
  color: #7d7987;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
}

.card__icon{
  display: inline-block;
  width: 90px;
  height: 90px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.card__icon--search{
  background-image: url(../img/search.svg);

}



ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Mulish", sans-serif;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
}

/* Grid System */

.container {
  width: 1120px;
  margin: 0 auto;
}

.row{
  display: flex;
}

.col{
  flex-grow: 1;
}

.col-50{
  width: 50%;
  max-width: 50%;
}

.maincontent {
  flex-grow: 1;
}

.dots-image::before {
  content: "";
  width: 131px;
  height: 115px;
  background: url("../img/dots.svg") center center no-repeat;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

/**

  Logo

*/

.logo {
  display: inline-block;
}

.logo__img {
  display: block;
  width: 160px;
  height: 41px;
}

.logo__img--dark {
  background: url("../img/logo-dark.svg") center center no-repeat;
}

.logo__img--white {
  background: url("../img/logo-white.svg") center center no-repeat;
}

/**

  Header

*/

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 56px;
}

/**

  Navigation

*/

.nav ul {
  position: relative;
  margin: 0;
  padding: 0;
}

.nav ul ul {
  display: none;
  position: absolute;
  /* background-color: #67c3f3; */
}

.nav__link {
  font-size: 18px;
  color: rgba(31, 21, 52, 0.5);
  text-decoration: none;
}

.nav__link--active {
  color: #1f1534;
}

.nav__link:hover {
  border-radius: 5px;
  color: black;
  transition: .2s;
  background-color: #f4f7f8;
}

.nav__link:not(:hover) {
  transition: .8s;
}

.nav__link--sub-list {
  float: left;
  height: 40px;
  width: 85px;
  line-height: 85px;
  position: relative;
}

.nav__link--sub-list:hover {
  border-radius: 5px;
  transition: .2s;
  background-color: #f4f7f8;
  min-width: 90px;
}

.nav__link--sub-link {
  color: rgba(31, 21, 52, 0.5);
  text-decoration: none;
  font-size: 18px;
  /* position: absolute; */
  position: relative;
  top: 50%;
  margin-top: -20px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  display: block;
  text-align: center;
}

.hero{
  margin-top: 84px;
  position: relative;
}

.hero::before{
  background: url(../img/blue-dots.svg) left center no-repeat;
  top: 0;
}

.hero__column--content{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-right: 110px;
  flex-direction: column;
}

.hero__title{
  font-size: 48px;
  font-weight: 700;
  color: #000;
  line-height: 1.16;
}

.hero__description{
  color: #7d7987;
  font-size: 21px;
  line-height: 1.52;
  font-weight: 300;
  margin-top: 25px;
}

.hero__btn{
  margin-top: 45px;
}


.nav__link--sub-link:hover {
  color: black;
}

.nav li:hover ul {
  display: block;
}

.nav li:hover li {
  display: block;
}

.nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

/**

  Footer

*/

.footer {
  position: relative;
  padding: 118px 0 113px 0;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #0b326d 82.96%);
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__column--small {
  width: 150px;
}

.footer__column--large {
  width: 390px;
}

.footer__column--flex-column {
  display: flex;
  flex-direction: column;
}

.footer-content {
  font-size: 18px;
  font-weight: 300;
  color: #ffffffaa;
}

.footer__description {
  margin-top: 21px;
}

.footer__copyright {
  margin-top: auto;
  margin-bottom: 0;
}

.footer__column-title {
  margin-top: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
}

.footer__list {
  margin-top: 35px;
}

.footer__link {
  text-decoration: none;
}

.footer__link:hover {
  color: #fff;
}

.footer__list-item:not(:first-child) {
  margin-top: 20px;
}